:root {
    /*COLORS*/
    --white: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

    /*TYPOGRAPHY*/
    --font-young-serif: "young serif", serif;
    --font-outfit: "outfit", "serif";   
}


body {
    margin: 0 auto;
    background-color: var(--Stone-100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: var(--font-outfit);
}
.main-container {
    background-color: var(--white);
    width: 100%;
    max-width: 45rem;
    padding-bottom: 2rem;  
    
}
.img {
    width: 100%;
}
.recipe-information {
    margin: 0rem 2rem;
}
h1 {
    font-family: var(--font-young-serif);
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 2.3rem;
    margin-bottom: 0;
}
p {
    font-family: var(--font-outfit);
    color: var(--Stone-600);
    font-size: 1rem;
    line-height: 1.5rem;
}
.recipe-preparation-time {
    background-color: var(--Rose-50);
    padding: 0.3rem 1.4rem;
    border-radius: 15px;
    font-family: var(--font-outfit);
    
}
h3 {
    color: var(--Rose-800);
    font-weight: 600;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.time-list {
    color: var(--Stone-600);

}

ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.time-list li::before {
    content: "\2022";
    font-weight: 600;
    color: var(--Rose-800);
    margin-right: 1.5rem;

} 
li{
    padding-bottom: 0.8rem;
    margin-left: 0.5rem;
}
   
.ingredients-list li {
    padding-bottom: 0.8rem;
    display: flex;
    align-items: flex-start; 
}
h2 {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: var(--font-young-serif);
    color: var(--Brown-800);   
}
.ingredients-list {
    padding-bottom: 1rem;
    color: var(--Stone-600);
    border-bottom: 1px  solid var(--Stone-150);
}
.ingredients-list li::before {
    content: "\2022";
    font-weight: 600;
    color: var(--Brown-800);
    margin-right: 1.5rem;
    display: inline-block;
}
.instructions-list li{
    counter-increment: custom-counter;
    color: var(--Stone-600);
    line-height: 1.5rem;

}
.instructions-list {
    border-bottom: 1px  solid var(--Stone-150);
    padding-bottom: 1rem;
}
.instructions-list li::before{
    content: counter(custom-counter) ".";
    font-weight: 600;
    color: var(--Brown-800);
    margin-right: 1.5rem;
    
}
table {
    width: 100%;
    margin: 1rem 0;
    border-collapse: collapse;
}
.nutrition-table {
    font-family: var(--font-outfit);
    padding-bottom: 1rem;
    border-bottom: 1px  solid var(--Stone-150);
    color: var(--Stone-600);
}
td{
    padding: 1rem 0;
    padding-left: 2rem;
}
td strong {
    color: var(--Brown-800);
}

@media (min-width: 27rem) {
    
    .main-container {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 5rem;
        margin-top: 5rem;


    }
    .img {
        width: 91%;
        margin: 0 2rem;
        margin-top: 2rem;
        border-radius: 15px;
    }
    
}